#API: an (incompatible) API change
#BENCH: changes to the benchmark suite
#BLD: change related to building numpy
#BUG: bug fix
#DEP: deprecate something, or remove a deprecated object
#DEV: development tool or utility
#DOC: documentation
#ENH: enhancement
#MAINT: maintenance commit (refactoring, typos, etc.)
#REV: revert an earlier commit
#STY: style fix (whitespace, PEP8)
#TST: addition or modification of tests
#REL: related to releasing

*.o
*.obj
*.exe
*.out
*.lib
*.cmake
*.mod
*.egg-info
*.pyd
*.dylib
*.dll
*.dll.a
*.so
*.a
*.log

.idea
.vscode

build/
__pycache__/
dist/
API-doc/

.DS_Store

*generator*

pywrapper/src/pycodata/*.h
pywrapper/src/pycodata/*.a
pywrapper/src/pycodata/*.dll
pywrapper/src/pycodata/*.dll.a
pywrapper/src/pycodata/*.so
pywrapper/src/pycodata/*.dylib
pywrapper/src/pycodata/*.pyd
pywrapper/wheelhouse/
