#API: an (incompatible) API change
#BENCH: changes to the benchmark suite
#BLD: change related to building numpy
#BUG: bug fix
#DEP: deprecate something, or remove a deprecated object
#DEV: development tool or utility
#DOC: documentation
#ENH: enhancement
#MAINT: maintenance commit (refactoring, typos, etc.)
#REV: revert an earlier commit
#STY: style fix (whitespace, PEP8)
#TST: addition or modification of tests
#REL: related to releasing

*.o
*.obj
*.exe
*.dll
*.out
*.so
*.a
*.lib
*.cmake
*.mod
*.egg-info

.idea
.vscode

build/
__pycache__/
dist/

.DS_Store

tests
doxygen