name = "codata"
version = "VERSION"
license = "MIT"
author = "Milan Skocic"
maintainer = "milan.skocic@gmail.com"
copyright = "Copyright 2022-2024, Milan Skocic"
description = "CODATA physical constants."
categories  =["Science"]
keywords = ["codata", "constants", "physics", "chemistry"]
homepage = "https://milanskocic.github.io/codata/index.html"

[fortran]
implicit-typing = false
implicit-external = false
source-form = "free"

[build]
auto-executables = true
auto-tests = true
auto-examples = true
module-naming = false 

[install]
library = true

[dependencies]
stdlib="*"
M_CLI2 = {git="https://github.com/urbanjost/M_CLI2.git"}
fortran-regex = {git="https://github.com/perazz/fortran-regex.git", tag="1.1.2"}

[[example]]
name = "example_in_f"
main = "example.f90"

[[example]]
name = "example_in_c"
main = "example.c"

[[test]]
name = "tester"
main = "test_constants.f90"

[test.dependencies]
test-drive = {git="https://github.com/fortran-lang/test-drive", tag="v0.4.0"}
