# sdist

include INSTALL.rst
include LICENSE.TXT
include MANIFEST.in
include README.rst
include requirements.txt

include codata/*.c
include codata/*.h
include codata/libcodata.so
include codata/libcodata.dylib
include codata/libcodata.dll
include codata/libcodata.dll.a