 
/* start css.sty */
.cmr-7{font-size:63%;}
.cmmi-7{font-size:63%;font-style: italic;}
.cmsy-7{font-size:63%;}
.cmr-10x-x-109{}
.cmbsy-10x-x-109{font-weight: bold;}
.cmbsy-10x-x-109{font-weight: bold;}
.cmbsy-10x-x-109{font-weight: bold;}
.cmbsy-9{font-size:81%;font-weight: bold;}
.cmbsy-9{font-weight: bold;}
.cmbsy-9{font-weight: bold;}
.cmbsy-7{font-size:63%;font-weight: bold;}
.cmbsy-7{font-weight: bold;}
.cmbsy-7{font-weight: bold;}
.cmex-10x-x-109{}
.cmex-9{font-size:81%;}
.cmex-7{font-size:63%;}
.msam-10x-x-109{}
.msam-10x-x-90{font-size:81%;}
.msam-7{font-size:63%;}
.msbm-10x-x-109{}
.msbm-10x-x-90{font-size:81%;}
.msbm-7{font-size:63%;}
.cmr-9{font-size:81%;}
.cmmi-10x-x-109{font-style: italic;}
.cmmi-9{font-size:81%;font-style: italic;}
.cmsy-10x-x-109{}
.cmsy-9{font-size:81%;}
.ecrm-0900{font-size:81%;}
.ecrm-0700{font-size:63%;}
.eccc2488-{font-size:218%;}
.ecrm-1200{font-size:109%;}
.ectt-1095{ font-family: monospace,monospace;}
.ectt-1095{ font-family: monospace,monospace;}
.ectt-1095{ font-family: monospace,monospace;}
.ectt-1095{ font-family: monospace,monospace;}
.ectt-1095{ font-family: monospace,monospace;}
.ectt-1095{ font-family: monospace,monospace;}
.ectt-1095{ font-family: monospace,monospace;}
.ectt-1095{ font-family: monospace,monospace;}
.ectt-1095{ font-family: monospace,monospace;}
.ecit-1095{ font-style: italic; font-family: monospace,monospace;}
.ecit-1095{ font-style: italic; font-family: monospace,monospace;}
.ecit-1095{ font-style: italic; font-family: monospace,monospace;}
.ecit-1095{ font-style: italic; font-family: monospace,monospace;}
.ecit-1095{ font-style: italic; font-family: monospace,monospace;}
.ecit-1095{ font-style: italic; font-family: monospace,monospace;}
.ecit-1095{ font-style: italic; font-family: monospace,monospace;}
.ecit-1095{ font-style: italic; font-family: monospace,monospace;}
.ecit-1095{ font-style: italic; font-family: monospace,monospace;}
.tctt-1095{font-family: monospace,monospace;}
.ectt-0900{font-size:81%; font-family: monospace,monospace;}
.ectt-0900{ font-family: monospace,monospace;}
.ectt-0900{ font-family: monospace,monospace;}
.ectt-0900{ font-family: monospace,monospace;}
.ectt-0900{ font-family: monospace,monospace;}
.ectt-0900{ font-family: monospace,monospace;}
.ectt-0900{ font-family: monospace,monospace;}
.ectt-0900{ font-family: monospace,monospace;}
.ectt-0900{ font-family: monospace,monospace;}
.ecit-0900{font-size:81%; font-style: italic; font-family: monospace,monospace;}
.ecit-0900{ font-style: italic; font-family: monospace,monospace;}
.ecit-0900{ font-style: italic; font-family: monospace,monospace;}
.ecit-0900{ font-style: italic; font-family: monospace,monospace;}
.ecit-0900{ font-style: italic; font-family: monospace,monospace;}
.ecit-0900{ font-style: italic; font-family: monospace,monospace;}
.ecit-0900{ font-style: italic; font-family: monospace,monospace;}
.ecit-0900{ font-style: italic; font-family: monospace,monospace;}
.ecit-0900{ font-style: italic; font-family: monospace,monospace;}
.ecti-1095{ font-style: italic;}
.ecti-1095{ font-style: italic;}
.ecti-1095{ font-style: italic;}
.ecti-1095{ font-style: italic;}
.ecti-1095{ font-style: italic;}
.ecti-1095{ font-style: italic;}
.ecti-1095{ font-style: italic;}
.ecti-1095{ font-style: italic;}
.ecti-1095{ font-style: italic;}
.small-caps{font-variant: small-caps; }
p{margin-top:0;margin-bottom:0}
p.indent{text-indent:0;}
p + p{margin-top:1em;}
p + div, p + pre {margin-top:1em;}
div + p, pre + p {margin-top:1em;}
a { overflow-wrap: break-word; word-wrap: break-word; word-break: break-word; hyphens: auto; }
@media print {div.crosslinks {visibility:hidden;}}
table.tabular{border-collapse: collapse; border-spacing: 0;}
a img { border-top: 0; border-left: 0; border-right: 0; }
center { margin-top:1em; margin-bottom:1em; }
td center { margin-top:0em; margin-bottom:0em; }
.Canvas { position:relative; }
math { text-indent: 0em; }
body{ margin:1em auto; max-width:80ch; padding:0 .62em; }
h1,h2,h3,h4,h5 { line-height:1.2; }
@media print{ body{ max-width:none } }
.partHead, .likepartHead { font-size: 2em; }
.chapterHead, .likechapterHead { font-size: 1.7411em; }
.sectionHead, .likesectionHead { font-size: 1.5157em; }
.subsectionHead, .likesubsectionHead { font-size: 1.3195em; }
.subsubsectionHead, .likesubsubsectionHead { font-size: 1.1487em; }
 @media (prefers-color-scheme: dark) { img[src^="00-main"]{filter: invert(1); } } 
 body { background-color: Canvas; color: CanvasText; color-scheme: light dark; } 
li p.indent { text-indent: 0em }
li p:first-child{ margin-top:0em; }
li p:last-child, li div:last-child { margin-bottom:0.5em; }
li p:first-child{ margin-bottom:0; }
li p~ul:last-child, li p~ol:last-child{ margin-bottom:0.5em; }
ul.itemize1,ol.enumerate1{padding-left: 0;}
ul li.itemize,ol li.enumerate{margin-left: 1rem;}
.enumerate1 {list-style-type:decimal;}
.enumerate2 {list-style-type:lower-alpha;}
.enumerate3 {list-style-type:lower-roman;}
.enumerate4 {list-style-type:upper-alpha;}
div.newtheorem { margin-bottom: 2em; margin-top: 2em;}
div.newtheorem .head{font-weight: bold;}
.obeylines-h,.obeylines-v {white-space: nowrap; }
div.obeylines-v p { margin-top:0; margin-bottom:0; }
.overline{ text-decoration:overline; }
.overline img{ border-top: 1px solid black; }
td.displaylines {text-align:center; white-space:nowrap;}
.centerline {text-align:center;}
.rightline {text-align:right;}
pre.verbatim {font-family: monospace,monospace; text-align:left; clear:both; }
.fbox {padding-left:3.0pt; padding-right:3.0pt; text-indent:0pt; border:solid black 0.4pt; }
div.fbox {display:table}
div.center div.fbox {text-align:center; clear:both; padding-left:3.0pt; padding-right:3.0pt; text-indent:0pt; border:solid black 0.4pt; }
div.minipage{width:100%;}
div.center, div.center div.center {text-align: center; margin-left:1em; margin-right:1em;}
div.center div {text-align: left;}
div.flushright, div.flushright div.flushright {text-align: right;}
div.flushright div {text-align: left;}
div.flushleft {text-align: left;}
.underline{ text-decoration:underline; }
.underline img{ border-bottom: 1px solid black; margin-bottom:1pt; }
.framebox-c, .framebox-l, .framebox-r { padding-left:3.0pt; padding-right:3.0pt; text-indent:0pt; border:solid black 0.4pt; }
.framebox-c {text-align:center;}
.framebox-l {text-align:left;}
.framebox-r {text-align:right;}
span.thank-mark{ vertical-align: super }
span.footnote-mark sup.textsuperscript, span.footnote-mark a sup.textsuperscript{ font-size:80%; }
aside.footnote-text p{margin-top:0; margin-bottom:0;text-indent: 0;}
code.verb{font-family:monospace,monospace;}
div.tabular, div.center div.tabular {text-align: center; margin-top:0.5em; margin-bottom:0.5em; }
table.tabular td p{margin-top:0em;}
table.tabular {margin-left: auto; margin-right: auto;}
td p:first-child{ margin-top:0em; }
td p:last-child{ margin-bottom:0em; }
div.td00{ margin-left:0pt; margin-right:0pt; }
div.td01{ margin-left:0pt; margin-right:5pt; }
div.td10{ margin-left:5pt; margin-right:0pt; }
div.td11{ margin-left:5pt; margin-right:5pt; }
table[rules] {border-left:solid black 0.4pt; border-right:solid black 0.4pt; }
td.td00{ padding-left:0pt; padding-right:0pt; }
td.td01{ padding-left:0pt; padding-right:5pt; }
td.td10{ padding-left:5pt; padding-right:0pt; }
td.td11{ padding-left:5pt; padding-right:5pt; }
table[rules] {border-left:solid black 0.4pt; border-right:solid black 0.4pt; }
.hline hr, .cline hr{ height : 0px; margin:0px; }
.hline td, .cline td{ padding: 0; }
.hline hr, .cline hr{border:none;border-top:1px solid black;}
.hline {border-top: 1px solid black;}
.hline + .vspace:last-child{display:none;}
.tabbing-right {text-align:right;}
div.float, div.figure {margin-left: auto; margin-right: auto;}
div.float img {text-align:center;}
div.figure img {text-align:center;}
.marginpar,.reversemarginpar {width:20%; float:right; text-align:left; margin-left:auto; margin-top:0.5em; font-size:85%; text-decoration:underline;}
.marginpar p,.reversemarginpar p{margin-top:0.4em; margin-bottom:0.4em;}
.reversemarginpar{float:left;}
.equation td{text-align:center; vertical-align:middle; }
td.eq-no{ width:5%; }
table.equation { width:100%; } 
div.math-display, div.par-math-display{text-align:center;}
.array-hline,.array-cline{ border-top: 1px solid black; height:0px; }
.array-hline + .array-vspace:last-child{display:none;}
.hline-mtd, .array-hline td{ display:none }
.array-hline:first-child{border-bottom:1px solid black;border-top:none;}
math .texttt { font-family: monospace; }
math .textit { font-style: italic; }
math .textsl { font-style: oblique; }
math .textsf { font-family: sans-serif; }
math .textbf { font-weight: bold; }
mo.MathClass-op + mi{margin-left:0.3em}
mi + mo.MathClass-op{margin-left:0.3em}
 math mstyle[mathvariant="bold"] { font-weight: bold; font-style: normal; } 
 math mstyle[mathvariant="normal"] { font-weight: normal; font-style: normal; } 
.partToc a, .partToc, .likepartToc a, .likepartToc {line-height: 200%; font-weight:bold; font-size:110%;}
.chapterToc a, .chapterToc, .likechapterToc a, .likechapterToc, .appendixToc a, .appendixToc {line-height: 200%; font-weight:bold;}
.theindex-letter{ margin-top: 1em;}
.index-subitem{ margin-left: 2ch;}
.index-subsubitem{ margin-left: 4ch;}
div.caption {text-indent:-2em; margin-left:3em; margin-right:1em; text-align:center; margin-top: 0.5rem;}
div.caption span.id{font-weight: bold; white-space: nowrap; }
h1.partHead{text-align: center}
p.bibitem { text-indent: -2em; margin-left: 2em; margin-top:0.6em; margin-bottom:0.6em; }
p.bibitem-p { text-indent: 0em; margin-left: 2em; margin-top:0.6em; margin-bottom:0.6em; }
.subsubsectionHead, .likesubsubsectionHead { font-size: 1em; }
.paragraphHead, .likeparagraphHead { margin-top:2em; font-weight: bold;}
.subparagraphHead, .likesubparagraphHead { font-weight: bold;}
.verse{white-space:nowrap; margin-left:2em}
div.maketitle {text-align:center;}
h1.titleHead{text-align:center;}
div.maketitle{ margin-bottom: 2em; }
div.author, div.date {text-align:center;}
div.thanks{text-align:left; margin-left:10%; font-size:85%; font-style:italic; }
div.author{white-space: nowrap;}
h1.partHead{text-align: center}
 .chapterToc, .likechapterToc {margin-left:0em;}
 .likesectionToc, .sectionToc {margin-left:1em;}
 .likesubsectionToc, .subsectionToc {margin-left:2em;}
 .likesubsectionToc, .subsectionToc {margin-left:2em;}
 .likesubsubsectionToc, .subsubsectionToc {margin-left:3em;}
.paragraphToc, .likeparagraphToc {margin-left:4em;}
.subparagraphToc, .likesubparagraphToc {margin-left:5em;}
figure.float, div.figure {margin-left: auto; margin-right: auto;}
figure.figure {text-align:center;}
figcaption.caption {text-indent:-2em; margin-left:3em; margin-right:1em; text-align:center;}
figcaption.caption span.id{font-weight: bold; white-space: nowrap; }
p + figcaption, img + figcaption{margin-top: 1em;}
.thebibliography dl { display: grid; grid-auto-columns: min-content 1fr; grid-auto-flow: column; }
.thebibliography dt { grid-column: 1; margin-bottom: 0.5em; }
.rotatebox{display: inline-block;}
div.subfigure {text-align:center;display:inline-block; max-width:45%; margin-right: 2rem;}
dt.printshorthands{float:left; clear:left; margin-right:1em;}
dd.thebibliography {margin-left: 2.5em;}
dt.thebibliography {float:left; clear:left; margin-right:1em;}
.textls{letter-spacing:0.05rem;}
pre.fancyvrb {white-space: pre-wrap; margin:0em;font-family:monospace,monospace;}
.equation-star td{text-align:center; vertical-align:middle; }
table.equation-star { width:100%; } 
.boxed{border: 1px solid black; padding-left:2px; padding-right:2px;}
mtd.align-odd{margin-left:2em; text-align:right;}
mtd.align-even{margin-right:2em; text-align:left;}
code.minted-inline{font-family:monospace,monospace;}
body{max-width:21cm;margin:1em auto;text-align:justified}
pre#fancyvrb4{ border-top: solid 0.4pt; }
pre#fancyvrb4{ border-left: solid 0.4pt; }
pre#fancyvrb4{ border-bottom: solid 0.4pt; }
pre#fancyvrb4{ border-right: solid 0.4pt; }
pre#fancyvrb5{ border-top: solid 0.4pt; }
pre#fancyvrb5{ border-left: solid 0.4pt; }
pre#fancyvrb5{ border-bottom: solid 0.4pt; }
pre#fancyvrb5{ border-right: solid 0.4pt; }
/* end css.sty */

