body {
    margin: 0;
    font-family: sans-serif;
    text-align: justify;
}

.header-image {
    display: block;
    margin: 0 auto;
    width: 300px;
    height: auto;
}

.container {
    width: 21cm;
    max-width: 100%;
    margin: 0 auto;
    font-size:14pt;
}
