name: windows

on:
  push:
    branches: [ "main", "dev" ]
  pull_request:
    branches: [ "main", "dev" ]
  release:
    types: [published]

jobs:
  windows: 
    runs-on: windows-latest
    defaults:
      run:
        shell: msys2 {0}
    steps: 
    - name: Set gfortran 
      uses: msys2/setup-msys2@v2
      with:
        msystem: UCRT64
        install: >-
          mingw-w64-ucrt-x86_64-gcc-fortran
          git
          make
          zip
    - name: Set fpm
      run: |
        wget https://github.com/fortran-lang/fpm/releases/download/v0.12.0/fpm-0.12.0-windows-x86_64-gcc-12.exe
        mv fpm-0.12.0-windows-x86_64-gcc-12.exe fpm.exe
        chmod +x fpm.exe
        cp -fv fpm.exe /ucrt64/bin/
        which gfortran
        which fpm
    - name: Versions
      run : |
        gfortran --version
        fpm --version
    - uses: actions/setup-python@v5
      with:
        python-version: |
          3.10
          3.11
          3.12
          3.13
          3.14
          3.14t
    - name: Update python packages 
      run: |
        py -3.10 -m pip install -U --user pip setuptools wheel build 
        py -3.11 -m pip install -U --user pip setuptools wheel build
        py -3.12 -m pip install -U --user pip setuptools wheel build
        py -3.13 -m pip install -U --user pip setuptools wheel build
        py -3.14 -m pip install -U --user pip setuptools wheel build
        py -3.14t -m pip install -U --user pip setuptools wheel build
    - name: Checkout
      uses: actions/checkout@v4
    - name: Configure
      run: |
        . ./configure.sh
        echo "FPM_NAME=$FPM_NAME" >> $GITHUB_ENV
        echo "FPM_PYNAME=$FPM_PYNAME" >> $GITHUB_ENV
        echo "FPM_VERSION=$FPM_VERSION" >> $GITHUB_ENV
        echo "FPM_PLATFORM=$FPM_PLATFORM" >> $GITHUB_ENV
        echo "FPM_ARCH=$FPM_ARCH" >> $GITHUB_ENV
    - name: Compile
      run: |
        chmod u+x build.sh
        ./build.sh
    - name: Upload artifacts
      uses: actions/upload-artifact@v4
      with:
        name: ${{ env.FPM_NAME }}-${{ env.FPM_PLATFORM }}-${{ env.FPM_ARCH }}-${{ env.FPM_VERSION }}
        path: ./build/install/
    - name: Upload artifacts
      uses: actions/upload-artifact@v4
      with:
        name: ${{ env.FPM_PYNAME }}-${{ env.FPM_PLATFORM }}-${{ env.FPM_ARCH }}-${{ env.FPM_VERSION }}
        path: ./py/dist/*.whl
    - name: Release libs
      if: ${{ github.event_name == 'release' }}
      uses: svenstaro/upload-release-action@v2
      with:
        repo_token: ${{ secrets.GITHUB_TOKEN }}
        file: ./build/*.zip
        file_glob: true
        tag: ${{ github.ref }}
        overwrite: true
    - name: Release pywrapper
      if: ${{ github.event_name == 'release' }}
      uses: svenstaro/upload-release-action@v2
      with:
        repo_token: ${{ secrets.GITHUB_TOKEN }}
        file: ./py/dist/*.zip
        file_glob: true
        tag: ${{ github.ref }}
        overwrite: true
